<h1>Update Employee</h1>

<form #updateForm="ngForm" (ngSubmit)="updateEmployee(1, updateForm.value)" >
    <input type="text" name="employeeId" ngModel placeholder="Enter Employee Id" ><br><br>
    <input type="text" name="employeeFirstName" ngModel placeholder="Enter First Name"><br><br>
    <input type="text" name="employeeLastName" ngModel placeholder="Enter Last Name"><br><br>
    <input type="text" name="employeePhone" ngModel placeholder="Enter Phone "><br><br>
    <input type="text" name="employeLocation" ngModel placeholder="Enter Location"><br><br>
    <input type="text" name="employeeEmail" ngModel placeholder="Enter Email"><br><br>
</form>