<h1>Update Employee</h1>

<form #updateForm="ngForm" (ngSubmit)="updateEmployee(updateForm.value)">
  <input
    type="text"
    name="employeeFirstName"
    placeholder="Enter First Name"
    [ngModel]="employee.employeeFirstName"
  /><br /><br />
  <input
    type="text"
    name="employeeLastName"
    placeholder="Enter Last Name"
    [ngModel]="employee.employeeLastName"
  /><br /><br />
  <input
    type="text"
    name="employeePhone"
    placeholder="Enter Phone "
    [ngModel]="employee.employeePhone"
  /><br /><br />
  <input
    type="text"
    name="employeLocation"
    placeholder="Enter Location"
    [ngModel]="employee.employeLocation"
  /><br /><br />
  <input
    type="text"
    name="employeeEmail"
    placeholder="Enter Email"
    [ngModel]="employee.employeeEmail"
  /><br /><br />
  <button type="submit">Update</button>
</form>
